@import url("https://fonts.googleapis.com/css?family=Acme|Roboto+Slab&display=swap");

$mainFont                : 'Acme', sans-serif;

//colors
$white-font              : #eee3eb;
$white-field             : #ffffff94;

$body-color              : #c1c0ca;
$grey-main               : #d1d4e0c4;

$header-color            : #0e084b;
$main-blue               : #303a84;

$online-color            : #28be1b;
$user-field              : #43ff72b5;